---
import Layout_LP from "../../layouts/Layout_LP.astro";
import HeroImg from "../../assets/img/Hero-accueil.webp";
import Button from "../../components/Button.astro";
import Buste from "../../assets/img/Buste.webp";
import { Image } from "astro:assets";

import icon_loupe from "../../assets/icons/loupe.svg";
import icon_cartes from "../../assets/icons/cartes.svg";
import icon_telecharger from "../../assets/icons/telecharger.svg";
import Banniere_gallerie from "../../assets/img/banniere-galerie.jpg";
import Realiste from "../../assets/img/realiste_LP.jpg";
import Minimaliste_Geometrique from "../../assets/img/minimaliste-geometrique_LP.jpg";
import Japonais_Traditionnel from "../../assets/img/japonais-traditionnel_LP.jpg";
import Nature_Animaux from "../../assets/img/nature-animaux_LP.jpg";
import Avis1 from "../../assets/img/avis1.jpg";
import Avis2 from "../../assets/img/avis2.jpg";
import Avis3 from "../../assets/img/avis3.jpg";
---

<Layout_LP
  titre_page="Envie d’un tatouage et tu ne sais pas par où commencer?"
  img_hero={HeroImg}
>
  <section class="text-center px-8 lg:px-64">
    <p class="text-gray-500 font-semibold text-xs lg:text-xl pb-8">
      Découvre l’outil révolutionnaire qui t’aide à créer le tatouage parfait en
      quelques clics ! Inspire-toi, personnalise ton design et laisse l’IA
      générer un tatouage unique, rien que pour toi.
    </p>
    <div class="flex justify-center gap-4 mb-20">
      <Button variant="stroke" text="Découvrir InkSpire" url="/" />
    </div>
  </section>

  <section class="px-8 lg:px-36">
    <h2 class="lg:text-4xl text-center mb-12">Comment ça marche ?</h2>
    <div class="lg:flex lg:items-center lg:gap-12">
      <div class="flex justify-center lg:flex-1">
        <Image
          src={Buste}
          alt="Buste tatoué"
          class="w-56 lg:w-100 h-auto mb-8 lg:mb-0"
        />
      </div>
      <div class="space-y-6">
        <h3 class="lg:text-2xl">
          Notre IA est là pour t’aider à transformer une idée en tatouage en 3
          étapes simples :
        </h3>
        <div class="flex items-start gap-4">
          <Image src={icon_loupe} alt="Icôn loupe" class="w-6 h-6 mt-1" />
          <div>
            <p class="font-semibold text-sm lg:text-lg">
              1. Explorer les styles
            </p>
            <p class="text-sm lg:text-lg mt-3">
              Plonge dans notre galerie et découvre des inspirations variées :
              minimaliste, réaliste, géométrique, traditionnel…
            </p>
          </div>
        </div>
        <div class="flex items-start gap-4">
          <Image src={icon_cartes} alt="Icôn cartes" class="w-6 h-6 mt-1" />
          <div>
            <p class="font-semibold text-sm lg:text-lg">
              2. Personnalise ton idée
            </p>
            <p class="text-sm lg:text-lg mt-3">
              Décris ton tatouage idéal. Tu veux un papillon aquarelle ? Un
              dragon japonais ? L’IA comprend et crée un design sur mesure.
            </p>
          </div>
        </div>
        <div class="flex items-start gap-4">
          <Image
            src={icon_telecharger}
            alt="Icôn télécharger"
            class="w-6 h-6 mt-1"
          />
          <div>
            <p class="font-semibold text-sm lg:text-lg">
              3. Génère & télécharge
            </p>
            <p class="text-sm lg:text-lg mt-3">
              Obtiens ton tatouage personnalisé, ajuste les détails,
              sauvegarde-le et partage-le avec ton tatoueur.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="px-8 lg:px-36">
    <h3 class="my-14 text-center lg:text-2xl">
      Simple, rapide et inspirant ! Lance-toi dès maintenant et découvre le
      tatouage qui te correspond.
    </h3>

    <h2 class="lg:text-4xl text-center mb-8">
      Découvre les styles les plus populaires
    </h2>
    <div class="flex justify-center opacity-40 mb-10">
      <Image
        src={Banniere_gallerie}
        alt="Bannière de la galerie"
        class="w-50 lg:w-64 h-auto"
      />
    </div>

    <p class="font-semibold text-sm lg:text-lg text-center mb-8">
      Tu cherches de l’inspi ? Notre galerie te propose les styles les plus
      populaires pour t’aider à trouver le tattoo qui te ressemble :
    </p>

    <div class="grid gap-10 lg:grid-cols-2">
      <div class="flex gap-4 items-center">
        <Image src={Realiste} alt="Illustration réaliste" class="w-16 h-auto" />
        <p class="text-sm lg:text-lg">
          <strong>Réaliste</strong> : détails précis, ombrages subtils, rendu ultra-photographique.
        </p>
      </div>
      <div class="flex gap-4 items-center">
        <Image
          src={Minimaliste_Geometrique}
          alt="Illustration minimaliste et géométrique"
          class="w-16 h-auto"
        />
        <p class="text-sm lg:text-lg">
          <strong>Minimaliste & géométrique</strong> : lignes fines et formes épurées
          pour un effet discret et élégant.
        </p>
      </div>
      <div class="flex gap-4 items-center">
        <Image
          src={Japonais_Traditionnel}
          alt="Illustration japonaise et traditionnelle"
          class="w-16 h-auto"
        />
        <p class="text-sm lg:text-lg">
          <strong>Japonais & traditionnel</strong> : dragons, carpes koi, vagues…
          des symboles forts et chargés d’histoire.
        </p>
      </div>
      <div class="flex gap-4 items-center">
        <Image
          src={Nature_Animaux}
          alt="Illustration nature et animaux"
          class="w-16 h-auto"
        />
        <p class="text-sm lg:text-lg">
          <strong>Nature & animaux</strong> : fleurs, papillons, loups, serpents…
          exprime ton lien avec la nature.
        </p>
      </div>
    </div>

    <h3 class="my-20 text-center lg:text-2xl">
      Inspire-toi et crée un tattoo à ton image. Explore nos styles et trouve
      l’idée qui te parle vraiment.
    </h3>
  </section>

  <section class="px-8 lg:px-36">
    <h2 class="lg:text-4xl text-center mb-8">
      Ils ont testé et ils ont aimé !
    </h2>
    <div
      x-data="{ current: 0 }"
      class="relative w-full max-w-3xl mx-auto overflow-hidden lg:w-152"
    >
      <div
        class="flex transition-transform duration-500 ease-in-out"
        :style="`transform: translateX(-${current * 100}%);`"
      >
        <div class="w-full flex-shrink-0">
          <Image
            src={Avis1}
            alt="Avis de Léa K"
            class="w-full h-auto rounded-md"
          />
        </div>
        <div class="w-full flex-shrink-0">
          <Image
            src={Avis2}
            alt="Avis de Sarah L"
            class="w-full h-auto rounded-md"
          />
        </div>
        <div class="w-full flex-shrink-0">
          <Image
            src={Avis3}
            alt="Avis de Max T"
            class="w-full h-auto rounded-md"
          />
        </div>
      </div>

      <div class="flex justify-center gap-4 mt-4">
        <button
          @click="current = (current === 0) ? 2 : current - 1"
          class="text-white px-3 py-1 bg-gray-700 rounded hover:bg-gray-600 w-30 h-10 lg:h-12 lg:w-30 lg:text-lg"
        >
          Précédent
        </button>
        <button
          @click="current = (current + 1) % 3"
          class="text-white px-3 py-1 bg-gray-700 rounded hover:bg-gray-600 w-30 h-10 lg:h-12 lg:w-30 lg:text-lg"
        >
          Suivant
        </button>
      </div>
    </div>
  </section>

  <section class="text-center mt-20">
    <h2 class="lg:text-4xl">Alors, pourquoi pas</h2>
    <h2 class="font-nosifer lg:text-4xl">Vous ?</h2>
  </section>
</Layout_LP>
